<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="pocetna" connectionString="Data Source=DESKTOP-A6MV7AL\SQLEXPRESS;Integrated Security=True;Initial Catalog=projekat_2026_AndjelaSimic;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;"/>
  </connectionStrings>
</configuration>