<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="skola" connectionString="Data source=DESKTOP-A6MV7AL\SQLEXPRESS; Initial Catalog=projekat_2026_AndjelaSimic; Integrated security = True"/>
    <add name="kuca" connectionString="Data source=DESKTOP-A6MV7AL\SQLEXPRESS; Initial Catalog=projekat_2026_AndjelaSimic; Integrated security = True"/>
  </connectionStrings>
</configuration>